.container {
    display: flex;
    margin:0.5rem;
    padding: 0.5rem;
    border: 1px solid black;
    background-color: white;
}
.container:hover {
    background-color: rgb(237, 236, 236);
    box-shadow: 0 0 1rem 0.25rem grey;
    cursor: pointer;
}

.image {
    width:10rem;
    height:10rem;
}

.info {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

.label {
    font-weight: bold;
}